.button {
   background-color: var(--red);
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 800;
   color: var(--white);
   transition: 0.4s all linear;
}

.button:hover {
   background-color: var(--redDark);
   cursor: pointer;
}

.big {
   font-size: 28px;
   border-radius: 30px;
   height: 42px;
}

.small {
   padding: 5px 24px;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   border-radius: 12px;
}


@media (max-width: 479px) {
   .small {
      padding: 2px 12px;
      font-size: 16px;
   }
}