.background {
   background-color: var(--gray);
   padding: 32px;
}

.title {
   font-weight: 400;
   font-size: 29px;
   line-height: 30px;
}

.progress {
   height: 44px;
   margin-top: 32px;
   display: flex;
   column-gap: 80px;
}