.app {
   padding-left: 17%;
   padding-right: 17%;
   height: 100%;
   background-position: right top;
   background-repeat: no-repeat;
   background-size: contain;
}

@media (max-width: 479px) {
  .app {
    padding: 0 24px;
  }
}