.title {
   font-weight: 400;
   font-size: 42px;
}

.title>p {
   margin: 0;
   line-height: 1.2em;
}

.title span {
   font-weight: bold;
}

.mobileBreak {
   display: none;
}

@media (max-width: 1260px) {
   .title {
      text-align: center;
   }
}

@media (max-width: 479px) {
   .title {
      font-size: 28px;
      text-align: start;
   }

   .desktopBreak {
      display: none;
   }

   .mobileBreak {
      display: inline;
   }
}