.title {
   font-weight: 400;
   font-size: 48px;
}

.title>p {
   margin: 0;
   line-height: 48px;
}

@media (max-width: 1260px) {
   .title {
      text-align: center;
   }
}

@media (max-width: 479px) {
   .title {
      font-size: 32px;
      text-align: start;
   }
}