.description {
   margin-top: 48px;
   max-width: 380px;
}

.descriptionTitle {
   font-weight: 800;
   font-size: 32px;
}

.descriptionContent {
   margin-top: 18px;
   margin-bottom: 24px;
   font-weight: 400;
   font-size: 18px;
}

.descriptionContent>p {
   margin: 8px 0;
}

.descriptionContent span {
   font-weight: bold;
}