.total {
   margin-top: 48px;
   margin-bottom: 32px;
   background-color: var(--gray);
   padding: 32px;
   display: flex;
   flex-flow: column;
   align-items: center;
   border-radius: 12px;
}

.title {
   font-weight: 800;
   text-align: center;
   font-size: 28px;
}

.collected {
   font-weight: 800;
   font-size: 32px;
   margin-top: 16px;
   margin-bottom: 24px;
}

.progress {
   width: 100%;
}

.content {
   position: relative;
}

.content>svg {
   position: absolute;
   right: 0;
   top: -575px;
   width: 500px;
   height: 590px;
}