.total {
   margin-top: 64px;
   background-color: var(--gray);
   padding: 80px;
   display: flex;
   flex-flow: column;
   align-items: center;
}

.totalTitle {
   font-weight: 800;
   font-size: 36px;
   line-height: 37px;
}

.totalCollected {
   font-weight: 800;
   font-size: 85px;
   line-height: 88px;
   margin-top: 80px;
   margin-bottom: 40px;
}