.background {
   background-color: var(--gray);
   padding: 32px;
   border-radius: 12px;
}

.title {
   font-size: 24px;
}

.progress {
   margin-top: 24px;
   display: flex;
   column-gap: 64px;
   height: 36px;
   font-size: 18px;
}

.collectedMobile {
   display: none;
}


@media (max-width: 479px) {
   .background {
      padding: 16px;
   }

   .title {
      font-size: 18px;
   }

   .progress>div:first-child {
      height: 24px;
   }

   .progress {
      flex-flow: column;
      height: 100%;
      row-gap: 12px;
      margin-top: 0;
   }

   .buttonContainer {
      width: 50%;
   }

   .collectedMobile {
      display: block;
      margin: 12px 0;
   }

   .collectedMobile > span {
      font-weight: 800;
   }

}