@font-face {
  font-family: 'ObjectSans';
  src: url(./fonts/ObjectSans-Regular.otf) format('otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(./fonts/ObjectSans-Slanted.otf) format('otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(./fonts/ObjectSans-Heavy.otf) format('otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(./fonts/ObjectSans-HeavySlanted.otf) format('otf');
  font-style: italic;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'ObjectSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'ObjectSans';
}

:root {
  --white: #FFFFFF;
  --red: #D23D3E;
  --redDark: #A82626;
  --green: # #138038;
  --greenSecondary: rgba(19, 128, 56, 0.12);
}