.progress {
   background-color: var(--greenSecondary);
   width: 100%;
   border-radius: 24px;
   overflow: hidden;
}

.progressLine {
   background-color: var(--green);
   border-radius: 24px;
   height: 100%;
   display: flex;
   align-items: center;
}

.percent {
   color: var(--white);
   margin-right: 12px;
   margin-left: auto;
   font-weight: 800;
   font-size: 20px;
}

.amountCollected {
   margin-left: 20px;
   font-weight: 700;
   color: var(--white);
}