.progress {
   background-color: var(--greenSecondary);
   width: 100%;
   height: 100%;
   border-radius: 24px;
   overflow: hidden;
}

.progressLine {
   background-color: var(--green);
   border-radius: 24px;
   height: 100%;
   display: flex;
   align-items: center;
   min-width: 6%;
}

.percent {
   color: var(--white);
   margin-right: 12px;
   margin-left: auto;
   font-weight: 800;
}

.amountCollected {
   margin-left: 20px;
   font-weight: 700;
   color: var(--white);
}


@media (max-width: 479px) {
   .percent {
      margin-right: 4px;
   }

   .amountCollected {
      display: none;
   }

   .progressLine {
      min-width: 10%;
   }
}